
<!-- 
<button (click)="toggle()"> Click </button>

<button [disabled]="toggle2" >  Click 2</button> -->
<!-- 
<span class="btn"> 
     <button (click)="add()">Add</button> 


<span class="btn"> </span>
     <button (click)="sub()">Sub</button> 


<span class="btn"> </span>
     <button (click)="multi()">Multiplication</button> 


<span class="btn"> </span>
     <button (click)="division()">Division</button>
</span>

<div class="add1">  
    addition= {{result}} <br>
    substraction={{result1}}<br>
    Multiplication={{result2}} <br>
    division={{result3}}
</div> -->

<div class="login-box">    
     <h2> Login</h2>
     <form>
          <div class="user-box">
               <input type="text" name="" required="">
               <label>Username</label>
          </div>
          <div class="user-box"> 
               <input type="password" name="" required="">
               <label>password</label>
          </div>
          <a href="#">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               Submit
          </a>
     </form>
</div>